.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;

  &::-webkit-slider-runnable-track {
    background: oklch(0.9 0 0);
    border-radius: 1px;
    height: 0.25rem;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border: 1px solid oklch(0.6 0 0);
    border-radius: 50%;
    box-shadow: 0 1px 1px oklch(0.6 0 0);
    height: 1.2rem;
    transform: translateY(-40%);
    width: 1.2rem;
  }

  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 1.25rem;
  margin-block-end: 1rem;
}

.control-group {
  margin-block-end: 1rem;
}